body {
    background-color: cyan;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;

}

.Password {
    background-color: yellow;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.Psw {
    background-color: white;
    padding: 1rem;
    border: 1px solid #333;
    height: 1rem;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 5rem;
}

.btn {
    margin-top: 1rem;
    grid-column: span 2;
    background-color: transparent;
    border: 2px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.btn:hover {

    transform: scaleY(2);
    background-color: yellow;
}

label {
    font-weight: bold;
}